<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>FLUVIOAPP</title>
    <link rel="stylesheet" href="css/home/style.css">
</head>
<body style="background: #3B3291;">

    <header>
        <a class="" href="#">
            <img src="img/univap.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill logo">
        </a>
        <h1 class="navbar-title"><b>Univap</b></h1>
        <nav>
            <a href="home.html" class="active">Home</a>
        </nav>
    </header>
    

    <section class="home">
        <img src="assets/mount2.png" class="mount2">
        <img src="assets/mount1.png" class="mount1">
        <img src="assets/bush2.png" class="bush2">

        <h1 class="title"><b>Trocar</b></h1>

        <img src="assets/bush1.png" class="bush1">
        <img src="assets/leaf2.png" class="leaf2">
        <img src="assets/leaf1.png" class="leaf1">
    </section>

    <section class="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <div class="mt-4 p-5 bg-light text-dark rounded">
                        <div class="d-flex justify-content-center mb-4">
                            <button type="button" class="btn btn-primary">
                                <p class="h2 mb-0">Adicionar Conteúdo</p>
                            </button>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#sensorModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="mt-4 p-5 bg-light text-dark rounded">
                        <div class="d-flex justify-content-between mb-4">
                            <button type="button" class="btn btn-primary">
                                <p class="h2 mb-0">Filtros</p>
                            </button>
                        </div>
                        <div class="">
                            <div class="row">
                                <div class="col-4">
                                    <div class="mb-3">
                                        <select id="filtroTipo" class="form-select" aria-label="Filtro por tipo">
                                            <option value="">Selecione um tipo</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mb-3">
                                        <select id="ordenarSelect" class="form-select" aria-label="Ordenar itens">
                                            <option value="recentes" selected>Selecione uma ordem</option>
                                            <option value="titulo_az">Título A-Z</option>
                                            <option value="titulo_za">Título Z-A</option>
                                            <option value="tipo_az">Tipo A-Z</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="mb-3">
                                        <input type="text" placeholder="Buscar conteúdo" class="form-control" id="conteudo" >
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="mb-3">
                                        <button type="button" class="btn btn-primary" id="btnBuscar">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="divConteudo">
                <div class="col">
                    <div class="mt-4 p-5 bg-light text-dark rounded">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Accordion Item #1
                                </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the first item’s accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It’s also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Accordion Item #2
                                </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the second item’s accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It’s also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Accordion Item #3
                                </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item’s accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It’s also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <div class="mt-5 p-4 bg-dark text-white">
        <div class="row align-items-center">
            <div class="col-auto">
                <a class="" href="#">
                    <img src="img/univap.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill logo">
                </a>
            </div>
            <div class="col">
                <p class="h4 d-inline"><b>Univap Colegios</b></p>
            </div>
            <div class="col">
                <p class="mb-0"><b>Autores:</b> Eduarda Moreira Alves</p>
            </div>
            <div class="col">
                <p class="mb-0"><b>Professor Responsável:</b></p>
            </div>
        </div>
    </div>

    <!-- Modal de Cadastro de Sensores -->
    <div class="modal fade" id="sensorModal" tabindex="-1" aria-labelledby="sensorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg"> <!-- Aumenta o tamanho do modal -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sensorModalLabel">Adicionar Novo Conteúdo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="sensorName" class="form-label">Título do Conteúdo</label>
                        <input type="text" class="form-control" id="txtNome" required>
                    </div>
                    <div class="mb-3">
                        <label for="sensorType" class="form-label">Tipo do Conteúdo</label>
                        <select class="form-select" id="dropTipo" required>
                            <option value="fluviometrico">Fluviométrico</option>
                            <option value="atmosferico">Atmosférico</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Nome Popular</label>
                        <input type="text" step="any" class="form-control" id="txtPopular" required>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Nome Científico</label>
                        <input type="text" step="any" class="form-control" id="txtCientifico" required>
                    </div>
                                        <div class="mb-3">
                        <label for="" class="form-label">Descricao</label>
                        <textarea class="form-control" rows="5" id="txtDescricao" name="text"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success" id="btnConteudo">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="js/home/home_onload.js"></script>
    <script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</body>
</html>